.profile-container {
  background-color: #fff;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  max-width: 100%;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}

.profile-display-container {
  background-color: rgb(10, 41, 41, 0.97);
  border-radius: 6px;
  padding-bottom: 1rem;
}

.profile-main-container {
  width: 900px;
  max-width: 100%;
  margin: auto;
  border-radius: 6px;
  padding: 1rem;
}

.profile-form {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 2rem;
  margin: 1rem;
}

.milestone-container {
  width: 600px;
  max-width: 100%;
  border-radius: 6px;
  background-color: rgb(255, 255, 255, 0.95);
  margin: auto;
}

.profile-item-container {
  width: 300px;
  margin: auto;
}

.profiles-holder {
  background-color: rgb(10, 41, 41, 0.97);
  width: 800px;
  max-width: 100%;
  margin: auto;
  border-radius: 6px;
  padding: 1rem;
}
